.user-view .header {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  text-align: center;
  z-index: 10;
}

.user-view .list {
  padding-top: 80px;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}